.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}
.Gallery{
    height: 200px;
    width: 200px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}